body,
html,
#root {
  background-color: rgb(241, 242, 245);
  margin: 0;
  font-family: "roboto", "Helvetica Neue", "sans-serif";
}

.menu-item:hover {
  background-color: #3b82f6;
  color: #ffffff;
}
